html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #dde7f2;
	font-family: 'Helvetica Neue';
}

.button {
	width: 60%;
	height: 100px;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
	margin-left: auto;
	margin-right: auto;
	font-size: 5vmin;
	background-color: #315987;
	border-radius: 10px;
	color: white;
}

.button:hover {
	cursor: pointer;
}

#blank1 {
	height: 20%
}

#blank2 {
	height: 10%;
}

#blank3 {
	height: 5%;
}

.logo {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	display: block;
}