html, body {
	height: 100%;
	margin: 0 2px 0 2px;
	padding: 0;
	background-color: #E0E0E0;
	font-family: 'Helvetica Neue';
}

#map {
	height: 50%;
	padding: 2px;
	z-index: 0;
}

#form-container {
	height: 40%;
	font-size: 14pt;
	padding: 10px;
	z-index: 1;
}

.btn {
	height: 120px;
	width: 100%;
	font-size: 42pt;
	background-color: #F44336;
	border-radius: 10px;
	color: white;
	font-weight: bold;
	padding: 20px;
}

fieldset, button {
	margin-top: 15px;
	margin-bottom: 15px;
}

a {
	color: white;
}

.form-group {
	font-size: 32pt;
}

input {
	padding: 10px;
}

#locationAddress {
	width: 78%;
}

span {
	padding: 5px;
	font-weight: bold;
	color: #00838F;
}
