html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #E0E0E0;
	font-family: 'Helvetica Neue';
}

#map {
	height: 75%;
	padding: 2px;
	z-index: 0;
}

#form-container {
	height: 25%;
	font-size: 24pt;
	padding: 10px;
	z-index: 1;
}

#inputAddress {
	height: 120px;
	font-size: 26pt;
	border: 1px solid blue;
}

#radiusSelect {
	width: 200px;
	height: 50px;
	font-size: 14pt;
	display: inline-block;
	position: relative;
	left: 20%;
}

#labelForRadiusSelect {
	position: absolute;
}

.btn {
	height: 110px;
	width: 100%;
	font-size: 30pt;
	background-color: #7B1FA2;
	border-radius: 10px;
	color: white;
}

fieldset, button {
	margin-top: 15px;
	margin-bottom: 15px;
}

a {
	color: white;
}