html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #E0E0E0;
	font-family: 'Helvetica Neue';
}

#map {
	height: 70%;
	padding: 2px;
}

#form-container {
	height: 30%;
	font-size: 40pt;
	padding: 10px;
}

#inputAddress {
	height: 150px;
	font-size: 30pt;
	border: 1px solid blue;
	padding: 30px;
}

#radiusSelect {
	width: 200px;
	height: 100px;
	font-size: 30pt;
	display: inline-block;
	position: relative;
	left: 30%;
}

#labelForRadiusSelect {
	position: absolute;
}

.btn {
	height: 120px;
	width: 100%;
	font-size: 42pt;
	background-color: #7B1FA2;
	border-radius: 10px;
	color: white;
	padding: 20px;
}

fieldset, a {
	margin-top: 15px;
	margin-bottom: 15px;
}