html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #dde7f2;
	font-family: 'Helvetica Neue';
}

form {
	height: 60%;
	margin: 0;
	padding: 0;
}

.button {
	width: 60%;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: #315987;
	border-radius: 10px;
	color: white;
	font-size: 5vmin;
}

.button:hover {
	cursor: pointer;
}

.form-control {
	width: 60%;
	height: 10%;
	text-align: center;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	display: block;
	font-size: 5vmin;
}

.blank1 {
	height: 8%;
}

.blank2 {
	height: 15%;
}

.blank3 {
	height: 5%;
}

.blank4 {
	height: 10%;
}

#title {
	height: 10%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	vertical-align: middle;
	font-size: 8vmin;
	color: #315987;
}

.logo {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	display: block;
}