#parkingOptions caption {
	font-size: 24pt;
	color: #444;
	margin: 10px;
	text-overflow: ellipsis;
}

#parkingOptions {
	background-color: #fff;
	color: #000
	border-radius: 5px 5px 10px 5px;
	width: 100%;
	font-size: 12pt; 
}

#parkingOptions thead th {
	font-weight: 600;
}

#parkingOptions thead th, 
	#parkingOptions tbody td {
	padding: .8rem;
	font-size: 16pt; 
}
#parkingOptions tbody td {
	padding: .8rem;
	height: 300px;
	font-size: 36pt;
	font-weight: bold;
	color: #444;
	background: #eee;
}

#parkingOptions tbody tr:not(:last-child) {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd; 
}
