html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Tahoma, Arial, sans-serif;
	background-color: #fff;
}

#header {
	height: 10%;
}

#goback {
	height: 10%;
	float: left;

}

#page-title {
	text-align: center;
	font-size: 50px;
}

#tableCaption {
	padding-left: 40px;
	padding-right: 40px;
	height: 10%;
	padding-top: 25px;
	font-size: 10pt;
	color: #5B6EC9;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.container {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height:75%;
	overflow: auto;
}

#parkingOptions {
	background-color: #eee;
	color: #000;
	width: 100%;
	font-size: 12pt; 
}

#parkingOptions thead th {
	font-weight: 600;
	background-color: #E6E6FA;
}

#parkingOptions thead th, 
	#parkingOptions tbody td {
	padding: .8rem;
	font-size: 20pt; 
}

#parkingOptions tbody td {
	height: 300px;
	font-size: 36pt;
	font-weight: bold;
	color: #444;
	background: #eee;
	padding: 0px 25px 0px 25px;
}

#parkingOptions tbody tr:not(:last-child) {
	border-top: 1px solid #333;
	border-bottom: 1px solid #333; 
}

#sortButtonContainer {
	padding: 2px;
	margin-top: 10px;
	width: 100%;
	height: 150px;
}

.sort {
	height: 100%;
	width: 49%;
	font-size: 32pt;
}

#emptyListHeading {
	position: absolute;
	top: 40%;
	left: 12%;
	font-size: 60pt;
	font-weight: bold;
}

#tableCaption {
	font-size: 32pt;
	font-weight: bold;
}

#tableheader {
	font-size: 28pt;
	font-weight: bold;
}

#sort-bar {
	background-color: #000;
	width: 100%;
	height: 120px;
	bottom: 0px;
	color: #fff;
	position: absolute;
}

#sort-title {
	font-size: 50px;
	position: absolute;
	left: 60px;
	line-height: 120px;
	vertical-align: middle;
}

#sortByDistance {
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 20px;
	position: absolute;
	left: 450px;
	vertical-align: middle;
	line-height: 80px;
	height: 80px;
	text-decoration: none;
	border: 2px solid #000;
	color: black;
	background-color: white;
	font-size: 4vmin;
}

#sortByPrice {
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 20px;
	position: absolute;
	right: 80px;
	vertical-align: middle;
	line-height: 80px;
	height: 80px;
	text-decoration: none;
	border: 2px solid #fff;
	color: white;
	font-size: 4vmin;
}

.addressTD {
	width: 50%;
}

.priceTD {
	width: 25%;
}

.distanceTD {
	width: 25%;
}
