html, body {
	height: 100%;
	margin: 0 2px 0 2px;
	padding: 0;
	background-color: #E0E0E0;
	font-family: 'Helvetica Neue';
}

#map {
	height: 56%;
	padding: 2px;
	z-index: 0;
}

#form-container {
	height: 37%;
	font-size: 14pt;
	padding: 10px;
	z-index: 1;
}

.btn {
	height: 120px;
	width: 100%;
	font-size: 42pt;
	background-color: #7B1FA2;
	border-radius: 10px;
	color: white;
	padding: 20px;
	font-weight: bold;
}

fieldset, button {
	margin-top: 15px;
	margin-bottom: 15px;
}

a {
	color: white;
}

h2 {
	font-size: 40pt;
	text-align: center;
	text-overflow: ellipsis;
	font-weight: bold;
}

.form-group {
	font-size: 32pt;
}

span {
	padding: 10px;
	font-weight: bold;
	color: #00838F;
}
