html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #E0E0E0;
	font-family: 'Helvetica Neue';
}

#map {
	height: 65%;
	padding: 2px;
	z-index: 0;
}

#form-container {
	height: 35%;
	font-size: 12pt;
	padding: 10px;
	z-index: 1;
}

.btn {
	height: 100px;
	width: 100%;
	font-size: 24pt;
	background-color: #7B1FA2;
	border-radius: 10px;
	color: white;
}

fieldset, button {
	margin-top: 15px;
	margin-bottom: 15px;
}

a {
	color: white;
}

h2 {
	font-size: 28pt;
	text-align: center;
	text-overflow: ellipsis;
}

.form-group {
	font-size: 32pt;
}
