<!DOCTYPE html>
<html>
	<head>
	<title>StreetPark</title>
	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/mapView.css">
	<script src="../js/mapView.js"></script>
	</head>
	<body>
		<div id="map"></div>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmttJYDrcH8tmiI6jIThxo_2ZBotMH_Wc&callback=initMap" async></script>
		<script>
			// https://developers.google.com/maps/documentation/javascript/examples/marker-simple
			// https://developers.google.com/maps/documentation/javascript/examples/geocoding-reverse
			function initMap() {
				var latitude, longitude, geocoder = new google.maps.Geocoder;
				if (navigator.geolocation) {
					navigator.geolocation.getCurrentPosition(function (position) {
						latitude = position.coords.latitude;
						longitude = position.coords.longitude;
						var location = {lat: latitude, lng: longitude};
						var map = new google.maps.Map(document.getElementById('map'), {
							center: location,
							zoom: 15
						});
						var marker = new google.maps.Marker({
							position: location,
							map: map
						})
						geocoder.geocode({'location': location}, function (results, status) {
							if (status === google.maps.GeocoderStatus.OK) {
								$("#inputAddress").val(results[1].formatted_address);
							}
						});
						$("#loadingView").css("display", "none");
						$("#map").css("display", "block");
						$("#form-container").css("display", "block");
					});
				} else {
					window.alert("Please enable location services");
				}
			}
		</script>
		<div id="loadingView" style="">
		</div>
		<div id="form-container">
			<form>
				<fieldset class="form-group">
					<label for="inputAddress">Find Parking Near:</label>
					<input type="text" class="form-control" id="inputAddress" placeholder="Find Parking Near">
				</fieldset>
				<fieldset class="form-group">
					<label for="radiusSelect" id="labelForRadiusSelect">Radius:</label>
					<select id="radiusSelect" class="form-control">
						<option value="0.5">0.5</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
					</select>
				</fieldset>
				<a href="parkingOptions.html" class="btn">FIND PARKING!</a>
			</form>
		</div>
	</body>
</html>