<!DOCTYPE html>
<html>
	<head>
	<title>StreetPark</title>
	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../css/officialListView.css">
	<script src="../js/officialListView.js"></script>
	</head>
	<body>
		<div class="container">
			<ul class="nav nav-pills nav-justified">
				<li class="active"><a data-toggle="tab" href="#expiredList">EXPIRED</a></li>
				<li><a data-toggle="tab" href="#warningList">WARNING</a></li>
			</ul>
			<div class="tab-content">
				<table id="expiredList" class="tab-pane fade in active">
					<tbody>
						<tr id="0" class="officialItem" data-href="expiredMeter.html">
							<td data-th="Address">9 Beacon St.</td>
							<td data-th="Meter #">Meter #2722</td>
						</tr>
						<tr id="1" class="officialItem" data-href="expiredMeter.html">
							<td data-th="Address">24 Tremont St.</td>
							<td data-th="Meter #">Meter #336</td>
						</tr>
						<tr id="2" class="officialItem" data-href="expiredMeter.html">
							<td data-th="Address">36 Berkeley St.</td>
							<td data-th="Meter #">Meter #712</td>
						</tr>
						<tr id="3" class="officialItem" data-href="expiredMeter.html">
							<td data-th="Address">117 A St.</td>
							<td data-th="Meter #">Meter #1098</td>
						</tr>
					</tbody>
				</table>

				<table id="warningList" class="tab-pane fade">
					<tbody>
						<tr class="officialItem" data-href="warningMeter.html">
							<td data-th="Address">25 Baker St</td>
							<td data-th="Price">&dollar;2 per hour</td>
							<td data-th="Distance">0.7 miles</td>
						</tr>
						<tr class="officialItem" data-href="warningMeter.html">
							<td data-th="Address">3122 Columbus Avenue</td>
							<td data-th="Price">&dollar;1 per hour</td>
							<td data-th="Distance">0.9 miles</td>
						</tr>
						<tr class="officialItem" data-href="warningMeter.html">
							<td data-th="Address">100 Massachusetts Avenue</td>
							<td data-th="Price">&dollar;4 per hour</td>
							<td data-th="Distance">1.4 miles</td>
						</tr>
						<tr class="officialItem" data-href="warningMeter.html">
							<td data-th="Address">10 Dartmouth St</td>
							<td data-th="Price">&dollar;7 per hour</td>
							<td data-th="Distance">1.9 miles</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>