<!DOCTYPE html>
<html>
	<head>
	<title>StreetPark</title>
	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  	<script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  	<script src="../js/jquery.touchSwipe.min.js"></script>
  	<link rel="stylesheet" href="../css/backbutton.css">
	<link rel="stylesheet" href="../css/officialListView.css">
	<script src="../js/officialListView.js"></script>
	</head>
	<body>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmttJYDrcH8tmiI6jIThxo_2ZBotMH_Wc"></script>
		<div id="top-bar"> 
			<a href="#logout-popup"> <img id="bar-logout" src="../resources/home-white.png"> </a>
			<a href="addMeterInformation.html"> <img id="bar-add-meter" src="../resources/add-white.png"> </a> 
		</div>
		<div class="container">
			<ul class="nav nav-pills nav-justified">
				<li class="active"><a data-toggle="tab" href="#expiredList">EXPIRED</a></li>
				<li><a data-toggle="tab" href="#warningList">WARNING</a></li>
			</ul>
			<div class="tab-content">
				<table id="expiredList" class="tab-pane fade in active">
					<tbody id="expiredTableBody">
					</tbody>
				</table>

				<table id="warningList" class="tab-pane fade">
					<tbody id="warningTableBody">
					</tbody>
				</table>
			</div>
		</div>
		<div id="logout-popup" class="overlay">
			<div class="popup">
				<h2>Are you sure you want to log out now?</h2>
				<a class="close" href="#">&times;</a>
				<a class="button" href="appStartView.html" id="yes-logout-btn"> YES </a>
				<a class="button" href="#" id="no-logout-btn"> GO BACK </a>
			</div>
		</div>
		<div id="sort-bar">
			<div id="sort-title"> SORT BY: </div>
			<div class="sort-button" id="sort-distance"> Distance </div>
			<div class="sort-button" id="sort-time"> Expiry Time </div>
		</div>
	</body>
</html>