<!DOCTYPE html>
<html>
	<head>
	<title>StreetPark</title>
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/parkingOptions.css">
	</head>
	<body>
		<table id="parkingOptions">
			<caption>Parking options near the Prudential Center</caption>
			<thead>
				<tr><th>Address</th><th>Price</th><th>Distance</th>
			</thead>
			<tbody>
				<tr>
					<td data-th="Address"><a href="selectedOption.html">9 Beacon St.</a></td>
					<td data-th="Price">&dollar;2 per hour</td>
					<td data-th="Distance">0.7 miles</td>
				</tr>
				<tr>
					<td data-th="Address"><a href="selectedOption.html">24 Tremont St.</a></td>
					<td data-th="Price">&dollar;1 per hour</td>
					<td data-th="Distance">0.9 miles</td>
				</tr>
				<tr>
					<td data-th="Address"><a href="selectedOption.html">36 Berkeley St.</a></td>
					<td data-th="Price">&dollar;4 per hour</td>
					<td data-th="Distance">1.4 miles</td>
				</tr>
				<tr>
					<td data-th="Address"><a href="selectedOption.html">117 A St.</a></td>
					<td data-th="Price">&dollar;7 per hour</td>
					<td data-th="Distance">1.9 miles</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>