<!DOCTYPE html>
<html>
	<head>
	<title>StreetPark</title>
	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/selectedOption.css">
	<link rel="stylesheet" href="../css/backbutton.css">
	</head>
	<body>
		<div id="header"><img id="goback" src="../resources/backArrow.png"></img></div>
		<div id="map"></div>
		<script>
			// https://developers.google.com/maps/documentation/javascript/examples/marker-simple
			var selectedParkingOption;
			function showDestination() {
				var map = new google.maps.Map(document.getElementById('map'), {
					center: {lat: 42.3532264, lng: -71.0913747},
					zoom: 15,
					disableDefaultUI: true
				});
				var geocoder = new google.maps.Geocoder();
				selectedParkingOption = JSON.parse(sessionStorage.getItem("selectedParkingOption"));

				geocodeAddress(geocoder, map, sessionStorage.getItem("originAddress"));
				geocodeAddress(geocoder, map, selectedParkingOption.address);

			}
			// https://developers.google.com/maps/documentation/javascript/examples/geocoding-simple
			function geocodeAddress(geocoder, map, address) {
				geocoder.geocode({'address': address}, function (results, status) {
					if (status === google.maps.GeocoderStatus.OK) {
						// center map on destination address
						var markerAtCurrentLoc = new google.maps.Marker({
							position: results[0].geometry.location,
							map: map
						});
						if (address === selectedParkingOption.address) {
							map.setCenter(results[0].geometry.location);
							$("#directionsBtn").attr("disabled", false);
						}
					}
				});
			}

			$(document).ready(function () {
				selectedParkingOption = JSON.parse(sessionStorage.getItem("selectedParkingOption"));
				$("#selectedOptionAddress").html(selectedParkingOption.address);
				$("#locationCost").html("$"+selectedParkingOption.price + " per hour");
				$("#numSpotsOpen").html(selectedParkingOption.numSpotsOpen);
				$("#timeLimit").html(selectedParkingOption.duration + " hour(s)");

				$("#goback").click(function() {
	    		window.location="parkingOptions.html"
		   		}); 
			}) ;
		</script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmttJYDrcH8tmiI6jIThxo_2ZBotMH_Wc&callback=showDestination" async defer></script>
		<div id="form-container">
			<h2 id="selectedOptionAddress"></h2>
			<form>
				<fieldset class="form-group">
					<label for="locationCost">Price: </label>
					<span id="locationCost"></span>
				</fieldset>
				<fieldset class="form-group">
					<label for="numSpotsOpen">Spots Open: </label>
					<span id="numSpotsOpen"></span>
				</fieldset>
				<fieldset class="form-group">
					<label for="timeLimit">Time Limit: </label>
					<span id="timeLimit"></span>
				</fieldset>
				<a href="directions.html" class="btn" id="directionsBtn" disabled>GET DIRECTIONS!</a>
			</form>
		</div>
	</body>
</html>